{% extends 'artshop/_Master.html' %} 
{% block title_tab %} Home {% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}  
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static 'artshop/images/banner3.1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> TheArtshop</strong></h1>
                            <p class="m-b-40">TheArtshop Project by TND</p>
                            <p><a class="btn hvr-hover" href="{% url 'artshop:danh_muc' 0 %}">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="text-center">
                <img src="{% static 'artshop/images/banner2.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> TheArtshop</strong></h1>
                            <p class="m-b-40">TheArtshop Project by TND</p>
                            <p><a class="btn hvr-hover" href="{% url 'artshop:danh_muc' 0 %}">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="text-right">
                <img src="{% static 'artshop/images/banner1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> TheArtshop</strong></h1>
                            <p class="m-b-40">TheArtshop Project by TND</p>
                            <p><a class="btn hvr-hover" href="{% url 'artshop:danh_muc' 0 %}">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="title-all text-center">

                <h1>Are you ready for some exciting offers? </h1>
                <p>~ Be much involved in art ~</p>
            </div>

            <div class="row">
                
                {% for category in categories %}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="shop-cat-box">
                            <img class="img-fluid" src="{{ category.image.url }}" alt="{{ category }}"/>
                            <a class="btn hvr-hover" href="{% url 'artshop:danh_muc' category.pk %}">{{ category }}</a>
                        </div>
                    </div>
                {% endfor %} 
                
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->


    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Most Viewed Products</h1>
                        <p>TheArtshop Project by TND</p>
                    </div>git

                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for product in most_viewed_products %}
                            <div class="item">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product }}" 
                                        style="object-fit:cover;
                                        object-position: middle;
                                        width:300px;
                                        height:300px;">
                                        <div class="mask-icon">
                                            <ul>
                                                <li><a class=" btn hvr-hover" href="{% url 'artshop:chi_tiet_san_pham' product.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                <li>
                                                    <form method="POST" action="{% url 'wishlist:them_vao_wishlist' product.pk %}">
                                                        {% csrf_token %}
                                                        <button class="btn hvr-hover " type="submit" name="btnThemVaoWishlist{{product.pk}}" value="{{ product }}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist">                                                                     
                                                            <i class="far fa-heart " style="color:white"></i>                                                                        
                                                            <input type="hidden" name="quantity{{ product.pk }}" value=1>
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>

                                            <style>
                                                .bottomright {
                                                    position: absolute;
                                                    bottom: 0px;
                                                    right: 0px;
                                                    font-size: 18px;
                                                    color: white
                                                  }
                                            </style>
                                            <form method="POST" action="{% url 'cart:mua_ngay' product.pk %}">
                                                {% csrf_token %}
                                                <a class="cart" href="#">     
                                                    <button class="bottomright btn hvr-hover" type="submit" name="btnMuaNgay{{product.pk}}" value="{{ product }}">
                                                        Buy now
                                                    </button>
                                                </a>
                                                <input type="hidden" name="quantity{{ product.pk }}" value=1>
                                            </form>
                                            
                                        </div>
                                    </div>
                                    <div class="why-text" style= "height:150px">
                                        <a class="font-weight-bold" href="{% url 'artshop:chi_tiet_san_pham' product.pk %}" style="text-align:left; font-size: 17px">{{ product }}</a>
                                        <h5 style="color: red"><span>$</span>{{ product.price|floatformat:0|intcomma }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            
        </div>
    </div>
    <!-- End Products  -->

    

{% endblock %}       
        

    